html {
    font-family: 'Codec Pro', sans-serif;
    color: white;
}

body {
    background-color: #101728;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

h2 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 10vh;
}

input {
    display: block;
    border: none;
    padding: 0;
    background-color: #101728;
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 0rem 1rem;
}

input:focus {
    outline: none;
}

input[type="button"]:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

#header {
    display: flex;
    align-items: center;
    margin: 2rem 5rem;
}

#header>img {
    height: 1.5rem;
    margin-right: .8rem;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20vh;
    margin-left: 5rem;
    height: 60vh;
    align-items: center;
}

#solution {
    display: none;
    align-items: center;
    flex-direction: column;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    padding: .2rem 5rem;
    background-color: #181e2e;
    color: rgb(196, 196, 196);
}

.gradient-border-external {
    width: 25rem;
    height: 3rem;
    background: linear-gradient(to right, #FF3C5F, #9340FF);
    border-radius: 30px;
    padding: 3px;
}

.gradient-border-internal {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    background-color: #101728;
    display: flex;
    align-items: center;
}

.gradient-button {
    width: 10rem;
    height: 3rem;
    background: linear-gradient(to right, #FF3C5F, #9340FF);
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}

.qrcode {
    border-radius: 20px;
    height: 50vh;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo>img {
    height: 60vh;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.download-button {
    background: linear-gradient(to right, #11a8e4, #1d66ee);
    text-align: center;
}

.download-button:hover {
    cursor: pointer;
}

.loader {
    width: 70px;
    height: 70px;
    display: block;
    position: relative;
    border: 2px solid #FF3C5F;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid #9340FF;
    width: 60px;
    height: 60px;
    animation: rotationBack 1.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 50px;
    height: 50px;
    border-color: #FF3C5F;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}